@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
:root {
  --bgColor: #162435;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  width: 100vw;
  height: 100vh;
}